<template>
  <q-page style="margin-top: 68px">
    <div class="row">
      <div class="col-md-10 col-xs-11 row q-mx-auto">
        <div class="col-md-7 col-12 q-mb-md q-mb-md-none product-meaning-content">
          Xuất phát điểm từ việc thực hiện những dự án thu thập và xử lý dữ liệu nghiên cứu thị trường có
          quy mô phạm vi trên cả nước. Đứng trước những bài toán chưa có lời giải, chúng tôi với đội ngũ gồm những kỹ sư
          công nghệ thông tin có kinh nghiệm từ các tập đoàn công nghệ hàng đầu Việt Nam, kết hợp với năng lực triển khai
          xuất sắc từ nhóm vận hành, đã tự phát triển được công nghệ từ phần cứng đến phần mềm (in-house) và quy trình
          vận hành tối ưu,
          đảm bảo thu thập và phân tích dữ liệu có độ rộng, độ chi tiết và độ chính xác trên phạm vi cả nước.
          <br/>
          <br/>
          Vào năm 2020, những khủng hoảng do đại dịch Covid gây ra đã khẳng định nhu cầu và xu thế Digitalization
          là không thể đảo ngược.
          <br/>
          DIGIME được thành lập bởi những người trẻ tuổi thấu hiểu được tầm quan trọng
          trong tương lai của thứ được gọi là dữ liệu (data). Bằng những kiến thức và kinh nghiệm đã có được, chúng tôi
          tiếp tục hành trình
          bẻ gãy những bài toán khó chưa có lời giải đang hiện hữu trong nền kinh tế và trong xã hội hiện nay.
          <br/>
          <br/>
          Tham vọng của chúng tôi không gì khác ngoài việc xây dựng một cơ sở dữ liệu số hoá toàn bộ những thông
          tin quan trọng về kinh tế, thị trường, địa lý, con người trên mặt đất. Thông qua nguồn dữ liệu độc quyền do
          chính DIGIME khảo sát và xử lý, các cơ quan Nhà nước và các đối tác khách hàng có thể đơn giản hoá những
          vấn đề hóc búa bằng việc trả lời được chính xác các câu hỏi như:
          <br/>
          <span class="text-weight-bolder">
            CÁI GÌ?
          </span>
          <span class="text-weight-bolder">
            Ở ĐÂU?
          </span>
          <span class="text-weight-bolder">
            BAO NHIÊU?
          </span>
          <span class="text-weight-bolder">
            NHƯ THẾ NÀO?
          </span>
        </div>
        <div class="col-md-5 col-12 q-pl-md-md flex justify-center items-start">
          <q-img src="/pictures/aboutus.png" style="width: 100%"/>
        </div>
      </div>
    </div>
    <div class="row product--block">
      <div class="col-md-10 col-xs-11 product--wrap">
        <div class="product-wrap-header">
          Thông tin về DigiME
        </div>
        <div class="row product-wrap-content">
          <div class="col-md-6 col-12">
            <GoogleMap/>
          </div>
          <div class="col-md-6 col-12 q-pl-md-lg q-pl-none q-mt-md q-mt-md-none">
            <div class="text-weight-bold">
              CÔNG TY TNHH GIẢI PHÁP SỐ HOÁ VÀ ĐO LƯỜNG DIGITAL MEASURE
            </div>
            <div class="q-mt-md content" >
              <span class="text-weight-bold">
                Địa chỉ đăng ký kinh doanh:
              </span>
              Tầng 1, toà nhà Faifo Lane, 2 Phan Văn Đáng,
              Phường Thạnh Mỹ Lợi, Thành phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam
            </div>
            <div class="q-mt-md content" >
              <span class="text-weight-bold">
                Giấy chứng nhận Đăng ký Kinh doanh:
              </span>
              Số 0316745792 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 12/03/2021
            </div>
            <div class="q-mt-md content" >
              <span class="text-weight-bold">
                Email liên hệ:
              </span>
              info@digime.asia
            </div>
            <div class="q-mt-md content" >
              <span class="text-weight-bold">
                Website:
              </span>
              digime.asia
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8 q-mx-auto">
        <q-separator class="devide-line-inline"/>
      </div>
    </div>
      <div class="row contact">
        <div class="col-md-8 col-11 q-mx-auto row">
          <div  class="col-md-6 col-12 text-dark q-px-lg q-mt-lg">
            <div class="flex justify-center">
              <img alt="Map cover"
                   height="150px" class="contact--header--img"
                   src="contact-us.svg" title="Map"/>
            </div>
            <div class="flex text-h4 text-weight-bold text-center contact--header--content justify-center q-mt-md">
              Liên Hệ Với Chúng Tôi
            </div>
            <div class="text-h6 q-mt-md text-center contact--header--subtitle">
              Vui lòng điền vào biểu mẫu và chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.
            </div>
          </div>
          <ContactForm/>
        </div>
      </div>
    <Footer/>
  </q-page>
</template>

<script>
import Footer from "components/Footer";
import ContactForm from "components/ContactForm";
import GoogleMap from "components/GoogleMap";
export default {
  name: "AboutUs",
  components: {GoogleMap, ContactForm, Footer},
}
</script>

<style scoped>
.product-meaning-header {
  font-size: 30px;
  color: #114b5f;
  font-weight: bold;
}
.product-meaning-content {
  font-size: 14px;
}
.devide-line-inline {
  margin: 48px 0;
}
.product--block {
  margin: 68px 0;
  background-color: #f7f4e9;
  padding: 68px 0;
}
.product--wrap {
  margin: 0 auto;
}
.product-wrap-header {
  font-size: 30px;
  color: #114b5f;
  font-weight: bold;
}
.product-wrap-content {
  font-size: 18px;
  margin-top: 20px;
  color: #071a52;
}
.product-wrap-content .content {
  font-size: 14px;
}
.product--benefit {
  margin-bottom: 68px;
}
@media screen and (max-width: 1439px) and (min-width: 1025px) {
  .devide-line-inline {
    margin: 38px 0 !important;
  }
}
@media screen and (max-width: 599px) {
  .devide-line-inline {
    margin: 18px 0 !important;
  }
  .product-meaning-content {
    font-size: 13px;
  }
  .product--block {
    margin: 38px 0;
    background-color: #e5ce82;
    padding: 38px 0;
  }
}
</style>
