<template>
  <q-page class="q-pt-xl">
   <div class="row">
     <div class="col-md-8 col-xs-11 col-md-10 justify-xs-center justify-md-start row q-mx-auto">
       <div class="col-sm-4 col-11 q-pa-sm">
         <div class="counter shadow-2">
           <!--          <i class="fa fa-code fa-2x"></i>-->
           <div class="flex justify-center">
             <img alt="Map cover" class="counter-icon"
                  src="map.svg" title="Map"/>
           </div>
           <h2 class="count-title">
             <ICountUp
               ref="countUp1"
               :delay="delay"
               :endVal="63"
               :options="{...counterOptions, startVal: 0}"
             />
           </h2>
           <p class="count-text">
             Tỉnh thành được cập nhật <br/> dữ liệu thường xuyên</p>
         </div>
       </div>
       <div class="col-sm-4 col-11 q-pa-sm">
         <div class="counter shadow-2">
           <!--          <i class="fa fa-code fa-2x"></i>-->
           <div class="flex justify-center">
             <img alt="Time to renew" class="counter-icon"
                  src="calendar.svg" title="Calendar"/>
           </div>
           <h2 class="count-title">
             <ICountUp
               ref="countUp2"
               :delay="delay"
               :endVal="6"
               :options="{...counterOptions, startVal: 0}"
             />
           </h2>
           <p class="count-text "> Tháng để làm mới <br/> hoàn toàn cơ sở dữ liệu</p>
         </div>
       </div>
       <div class="col-sm-4 col-11 q-pa-sm">
         <div class="counter shadow-2">
           <div class="flex justify-center">
             <img alt="Collaborators and Staff" class="counter-icon"
                  src="collaborators.svg" title="Collaborators"/>
           </div>
           <h2 class="count-title">
             <ICountUp
               ref="countUp3"
               :delay="delay"
               :endVal="500"
               :options="{...counterOptions, startVal: 0}"
             />
           </h2>
           <p class="count-text ">Nhân sự và cộng tác viên <br/> toàn quốc</p>
         </div>
       </div>
     </div>
   </div>
    <q-separator inset class="divide-line"/>
    <div class="row">
      <div class="col-md-8 col-11 row q-mx-auto block-product"
           data-aos="fade-right" id="mapdata"
           data-aos-easing="ease">
        <div class="col-sm-6 col-10 q-pl-md block-product-image--mobile" style="display: none">
          <q-img src="/pictures/dulieubando.png" width="100%" :height="$q.platform.is.mobile ? '150px' : '250px'"
                 style="border-radius: 25px"/>
        </div>
        <div class="col-sm-6 col-12 q-pr-md-lg q-pr-xs-none">
          <h3 class="block-product-header">
            Dữ liệu bản đồ
          </h3>
          <p class="block-product-content">
            DigiME xây dựng và cập nhập cơ sở dữ liệu thường xuyên cho các nền tảng bản đồ số,
            nhằm nâng cao trải nghiệm người dùng, cải thiện độ chính xác khi tìm kiếm địa điểm.
            Kho dữ liệu POI (Point of Interest) và PA (Point Address) có độ phủ 63 tỉnh thành trên cả nước.
            Số lượng dữ liệu sai số khoảng cách trên 15m là dưới 5%.
          </p>
        </div>
        <div class="col-sm-6 col-10 q-pl-md block-product-image block-product-image--desktop">
          <q-img src="/pictures/dulieubando.png" width="100%" :height="$q.platform.is.mobile ? '150px' : '250px'"
                 style="border-radius: 25px"/>
        </div>
      </div>
      <div class="col-8 q-mx-auto">
        <q-separator class="devide-line-inline"/>
      </div>
      <div class="col-md-8 col-11 row q-mx-auto block-product" id="logistics"
           data-aos="fade-left"
           data-aos-easing="ease">
        <div class="col-sm-6 col-10 q-pr-md block-product-image">
          <q-img src="/pictures/logistics.png" width="100%" :height="$q.platform.is.mobile ? '150px' : '250px'"
                 style="border-radius: 25px"/>
        </div>
        <div class="col-sm-6 col-12 q-pl-md-lg q-pl-xs-none">
          <h3 class="block-product-header">
            Logistic
          </h3>
          <p class="block-product-content">
            DigiME tập trung xây dựng cơ sở dữ liệu độc quyền chi tiết về địa chỉ,
            đặc biệt là các khu vực dân cư, hẻm ngõ ngách ở các đô thị lớn. Từ đó cải thiện thuật toán ETA
            (Estimated Time of Arrival) và định vị chính xác vị trí giao hàng, tối ưu hoạt động last-mile delivery,
            tiết kiệm thời gian, nâng cao sự hài lòng cho cả người giao hàng và người nhận hàng.
          </p>
        </div>
      </div>
      <div class="col-8 q-mx-auto">
        <q-separator class="devide-line-inline"/>
      </div>
      <div class="col-md-8 col-11 row q-mx-auto block-product"
           data-aos="fade-right" id="marketdata"
           data-aos-easing="ease">
        <div class="col-sm-6 col-10 q-pl-md block-product-image--mobile" style="display: none">
          <q-img src="/pictures/dulieuthitruong.png" width="100%" :height="$q.platform.is.mobile ? '150px' : '250px'" style="border-radius: 25px"/>
        </div>
        <div class="col-sm-6 col-12 q-pr-md-lg q-pr-xs-none">
          <h3 class="block-product-header">
            Dữ liệu thị trường
          </h3>
          <p class="block-product-content">
            Áp dụng trí tuệ nhân tạo (AI Detection) và Mạng lưới dữ liệu (Data Stations) có nhân sự phủ khắp cả nước.
            DigiME có thể thống kê sự xuất hiện của logo, các thương hiệu ở khắp nơi trên cả nước.
            Từ đó tối ưu hoá hoạt động tiếp thị ngoài trời và nhận diện thương hiệu cho nhãn hàng.
          </p>
        </div>
        <div class="col-sm-6 col-10 q-pl-md block-product-image block-product-image--desktop">
          <q-img src="/pictures/dulieuthitruong.png" width="100%" :height="$q.platform.is.mobile ? '150px' : '250px'" style="border-radius: 25px"/>
        </div>
      </div>
    </div>
    <q-separator inset class="divide-line"/>
    <div class="row contact">
      <div class="col-md-8 col-11 q-mx-auto row">
        <div  class="col-md-6 col-12 text-dark q-px-lg q-mt-lg">
          <div class="flex justify-center">
            <img alt="Map cover"
                 height="150px" class="contact--header--img"
                 src="contact-us.svg" title="Map"/>
          </div>
          <div class="flex text-h4 text-weight-bold text-center contact--header--content justify-center q-mt-md">
            Liên Hệ Với Chúng Tôi
          </div>
          <div class="text-h6 q-mt-md text-center text-grey-9 contact--header--subtitle">
            Vui lòng điền vào biểu mẫu và chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.
          </div>
        </div>
        <ContactForm/>
      </div>
    </div>
    <Footer/>
  </q-page>
</template>

<script>
import AOS from 'aos';
import 'aos/dist/aos.css';
import ICountUp from "vue-countup-v2";
import Footer from "components/Footer";
import ContactForm from "components/ContactForm";

export default {
  name: 'PageIndex',
  components: {
    ContactForm,
    Footer,
    ICountUp
  },
  data: () => ({
    scrolled: 0,
    delay: -1,
    counterOptions: {
      useEasing: true,
      duration: 3,
      useGrouping: true,
      separator: ',',
      decimal: ',',
      suffix: ''
    },
  }),
  watch: { // const backdrop = document.querySelector(".play-backdrop")
    // const close = document.querySelector(".play-close")
    scrolled: function (value) {
      if(value > 130) {
        this.delay = 2
        this.$refs.countUp1.instance.update((this.$refs.countUp1.endVal-10) + 10);
        this.$refs.countUp2.instance.update((this.$refs.countUp2.endVal-10) + 10);
        this.$refs.countUp3.instance.update((this.$refs.countUp3.endVal-10) + 10);
      }
    },
  },
  methods: {
    handleScroll() {
      this.scrolled = window.scrollY
    },
    scrollMeTo(refName) {
      const yOffset = -100;
      const element = document.getElementById(refName);
      const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
      window.scrollTo({top: y, behavior: 'smooth'});
    },
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
    AOS.init({
      duration: 1800,
      once: true,
      offset: 0,
    })
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
}
</script>
<style lang="css">
.counter {
  cursor: alias;
  background-color: #ffffff;
  padding: 20px 0;
  top: 0;
  position: relative;
  border-radius: 5px;
  transition: top ease 0.5s;
}
.counter:hover {
  top: -10px;
  /*box-shadow: 0 2px 30px rgb(0 0 0 / 30%);*/
  box-shadow: 0 2px 30px rgb(0 0 0 / 20%);
}
.counter:hover .count-text {
  color: black;
}
.counter-content {
  color: #071a52;
  font-size: 30px;
}
.count-title {
  font-size: 60px;
  font-weight: normal;
  color: #071a52;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
.count-text {
  font-size: 20px;
  color: #384a79;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  transition: all .4s;
}
.counter-icon {
  width: 150px;
  height: 150px
}
.divide-line {
  margin: 78px 78px;
}
.devide-line-inline {
  margin: 68px 0;
}
.block-product {
  margin: 20px auto;
}
.block-product .block-product-header {
  margin-bottom: 10px;
  font-weight: bold;
  color: #f8aa19;
  margin-top: 0 !important;
  font-size: 42px;
}
.block-product .block-product-content {
  font-size: 20px;
  color: #414145;
  margin: 20px 0;
}
.block-product .block-product-link {
  color: #339e08;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: all .2s;
}
.block-product .block-product-link:hover {
  color: #206108;
  text-decoration: underline;
}
.contact {
  min-height: 300px;
  /*background-color: #114b5f;*/
}

block-product-image--mobile {
  display: none !important;
}
@media screen and (max-width: 599px) { /*For mobile, tablet -xs     481px—768px: ipad,tablet*/
  .counter-icon {
    width: 140px;
    height: 140px;
  }
  .count-title {
    font-size: 38px;
    line-height: 20px;
  }
  .counter {
    padding: 10px 0
  }
  .count-text {
    font-size: 15px;
  }
  .counter-content {
    font-size: 18px;
  }
  .divide-line {
    margin: 30px 30px;
  }
  .block-product-header {
    font-size: 28px !important;
    text-align: center;
  }
  .block-product-content {
    font-size: 15px !important;
    text-align: justify;
    margin: 5px 0 !important;
  }
  .block-product-link {
    font-size: 15px !important;
    text-align: right;
  }
  .block-product-image {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 10px;
  }
  .block-product-image--mobile {
    display: block !important;
    margin: 0 auto;
    padding: 0;
  }
  .block-product-image--desktop {
    display: none;
  }
  .divide-line {
    margin: 30px 30px;
  }
  .devide-line-inline {
    margin: 30px 0px;
  }
  .block-product-image--mobile {
    margin-bottom: 10px !important;
  }
  .contact--header--img {
    height: 120px;
  }
  .contact--header--content {
    font-size: 28px;
  }
  .contact--header--subtitle {
    font-size: 15px;
    line-height: 20px;
  }
  .contact--form {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 600px){ /*Laptop, small screen -sm           */
  .contact--header--subtitle {
    font-size: 15px;
    line-height: 20px;
  }
  .contact--header--content {
    font-size: 24px;
  }
  .count-title {
    font-size: 40px;
  }
  .count-text {
    font-size: 15px !important;
  }
  .counter-content {
    font-size: 20px;
  }
  .counter-icon {
    width: 120px;
    height: 120px;
  }
  .divide-line {
    margin: 40px 40px;
  }
  .block-product-header {
    font-size: 22px !important;
    line-height: 30px;
  }
  .block-product-content {
    font-size: 14px !important;
    margin: 5px 0 !important;
  }
  .block-product-link {
    font-size: 15px !important;
  }
  .divide-line {
    margin: 35px 35px;
  }
  .devide-line-inline {
    margin: 35px 0px;
  }
  .block-product-image {
    display: flex;
    align-items: center;
  }
  .contact--form {
    margin: 20px auto;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1025px) { /*Desktop     -md       */
  .count-text {
    font-size: 18px;
  }
  .block-product-header {
    font-size: 25px !important;
    line-height: 30px;
  }
  .block-product-content {
    font-size: 16px !important;
    margin: 5px 0 !important;
  }
  .block-product-link {
    font-size: 15px !important;
  }
  .block-product-image {
    display: flex;
    align-items: center;
  }
  .counter-content {
    font-size: 22px;
  }
  .divide-line {
    margin: 40px 40px;
  }
  .devide-line-inline {
    margin: 40px 0px;
  }
  .contact--header--content {
    font-size: 28px;
  }
  .contact--header--subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 1919px) and (min-width: 1440px) { /*More         -lg */
  .block-product-header {
    font-size: 38px !important;
  }
  .block-product-content {
    font-size: 18px !important;
  }
}

</style>
