<template>
  <q-page style="margin-top: 68px">
    <div class="row">
      <div class="col-md-8 col-xs-11 row q-mx-auto">
        <div class="col-5 product-meaning-header">
          Why the Retails and Market Research?
        </div>
        <div class="col-7 product-meaning-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum tincidunt sem non congue.
          Pellentesque neque purus, commodo vel velit a, egestas auctor lacus
          <br/>
          <br/>
          Donec ornare eleifend faucibus. Morbi tempor a sem eget viverra. Fusce dictum sodales erat, quis eleifend elit tristique eu.
          Ut eu molestie arcu. Sed dolor nisl, ultrices venenatis bibendum nec, pellentesque id tortor.
        </div>
      </div>
    </div>
    <div class="row product--block">
      <div class="col-md-8 col-xs-11 product--wrap">
        <div class="product-wrap-header">
          Retails and Market Research?
        </div>
        <div class="product-wrap-content">
         <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum tincidunt sem non congue.
           Pellentesque neque purus, commodo vel velit a, egestas auctor lacus.
         </p>
          <p>
            Donec ornare eleifend faucibus. Morbi tempor a sem eget viverra. Fusce dictum sodales erat, quis eleifend elit tristique eu.
            Ut eu molestie arcu. Sed dolor nisl, ultrices venenatis bibendum nec, pellentesque id tortor.
          </p>
        </div>
      </div>
    </div>
    <div class="row product--benefit">
      <div class="col-md-8 col-xs-11 row q-mx-auto">
        <div class="col-5 product-meaning-header">
          Your benefit
        </div>
        <div class="col-7 product-meaning-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum tincidunt sem non congue.
          Pellentesque neque purus, commodo vel velit a, egestas auctor lacus
          <br/>
          <br/>
          Donec ornare eleifend faucibus. Morbi tempor a sem eget viverra. Fusce dictum sodales erat, quis eleifend elit tristique eu.
          Ut eu molestie arcu. Sed dolor nisl, ultrices venenatis bibendum nec, pellentesque id tortor.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8 q-mx-auto">
        <q-separator class="devide-line-inline"/>
      </div>
    </div>
      <div class="row contact">
        <div class="col-md-8 col-11 q-mx-auto row">
          <div  class="col-md-6 col-12 text-dark q-px-lg q-mt-lg">
            <div class="flex justify-center">
              <img alt="Map cover"
                   height="150px" class="contact--header--img"
                   src="contact-us.svg" title="Map"/>
            </div>
            <div class="flex text-h4 text-weight-bold contact--header--content justify-center q-mt-md">How Can We Help?</div>
            <div class="text-h6 q-mt-md text-center contact--header--subtitle">
              Are you interested in the possibilities? <br/>
              Please do not hesitate to contact us.
            </div>
          </div>
          <ContactForm/>
        </div>
      </div>
    <Footer/>
  </q-page>
</template>

<script>
import Footer from "components/Footer";
import ContactForm from "components/ContactForm";
export default {
  name: "AboutUs",
  components: {ContactForm, Footer}
}
</script>

<style scoped>
.product-meaning-header {
  font-size: 30px;
  color: #114b5f;
  font-weight: bold;
}
.product-meaning-content {
  font-size: 17px;
}
.devide-line-inline {
  margin: 68px 0;
}
.product--block {
  margin: 68px 0;
  background-color: #e9f1f7;
  padding: 68px 0;
}
.product--wrap {
  margin: 0 auto;
}
.product-wrap-header {
  font-size: 30px;
  color: #114b5f;
  font-weight: bold;
}
.product-wrap-content {
  font-size: 18px;
  margin-top: 20px;
  color: #071a52;
}
.product--benefit {
  margin-bottom: 68px;
}
</style>
