<template>
  <div class="col-md-6 col-sm-8 col-12 q-mt-xs-lg q-mt-md-none q-pl-md-xl contact--form">
    <div class="q-mb-md row">
      <div class="col-6 q-pr-xs">
        <label for="contactName" class="text-weight-bold text-subtitle1">Họ Tên<span class="text-red">*</span></label>
        <br/>
        <q-input id="contactName" class="q-mt-xs" filled outlined color="dark" v-model="contact.name" />
      </div>
      <div class="col-6 q-pl-xs">
        <label for="contactEmail" class="text-weight-bold text-subtitle1">Email<span class="text-red">*</span></label>
        <br/>
        <q-input class="q-mt-xs" id="contactEmail" filled outlined color="dark" v-model="contact.email" />
      </div>
    </div>
    <div class="q-mb-md">
      <label for="contactCompanyName" class="text-weight-bold text-subtitle1">
        Địa chỉ của bạn <span class="text-red">*</span>
      </label>
      <br/>
      <q-input class="q-mt-xs" id="contactCompanyName" filled outlined color="dark" v-model="contact.company" />
    </div>
    <div class="q-mb-md">
      <label for="contactMessage" class="text-weight-bold text-subtitle1">
        Lời nhắn
        <span class="text-red">*</span>
      </label>
      <br/>
      <q-input
        id="contactMessage"
        v-model="contact.message" color="dark"
        filled outlined rows="5"
        type="textarea"
      />
    </div>
    <div class="flex justify-center">
      <q-btn label="Gửi thông tin"
             style="background-color: #dba819" class="text-white text-subtitle1 q-px-lg text-weight-bold"/>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContactForm",
  data: () => ({
    contactContent: [
      {
        label: 'Choose one option',
        value: 0
      },
      {
        label: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
        value: 1
      },
      {
        label: ' Fusce non libero lacinia, tristique nibh eu, viverra lorem',
        value: 2
      },
      {
        label: 'Other',
        value: 3
      }
    ],
    contact: {
      content: 0
    }
  }),
}
</script>

<style scoped>

</style>
