<template>
  <div>
    <div class="row footer">
      <div class="col-xl-8 col-xs-11 col-md-10 q-mx-auto flex">
        <div class="text-white footer-main" style="flex-grow: 3">
          <div class="flex justify-center justify-sm-start">
            <q-img src="logo/digime2.png" width="330px" class="footer-logo"/>
          </div>
          <div class="footer--mobile">
            <div class="text-weight-bold text-subtitle1 q-mt-sm">
              CÔNG TY TNHH GIẢI PHÁP SỐ HOÁ VÀ ĐO LƯỜNG DIGITAL MEASURE
            </div>
            <div class="q-mt-sm ">
              <div class="text-subtitle2 q-mb-xs footer--mobile--subtitle">
                Địa chỉ: <span class="footer-address">Tầng 1, toà nhà Faifo Lane, 2 Phan Văn Đáng,
                <br/>Phường Thạnh Mỹ Lợi, Thành phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</span>
              </div>
              <div class="text-subtitle2 q-mb-xs footer--mobile--subtitle">
                Email: <span class="footer-address">info@digime.asia</span>
              </div>
              <div class="text-subtitle2 q-mb-xs footer--mobile--subtitle">
                Website: <span class="footer-address">digime.asia</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="flex-grow: 8">
          <div class="col-md-4 col-6 text-center q-px-xs-xs q-px-sm-none">
            <div class="text-h6 text-weight-bold text-white footer-link-header q-pb-sm">
              Giải pháp
            </div>
            <div class="footer-link footer-header" @click="scrollMeTo('mapdata')">Dữ liệu bản đồ</div>
            <div class="footer-link footer-header" @click="scrollMeTo('logistics')">Logistic</div>
            <div class="footer-link footer-header" @click="scrollMeTo('marketdata')">Dữ liệu thị trường</div>
          </div>
          <div class="col-md-4 col-6 text-center q-px-xs-xs q-px-sm-none">
            <div class="text-h6 footer-link-header text-weight-bold text-white footer-header "
            @click="go('/about-us')">
              Về chúng tôi
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <q-separator color="white"/>
    </div>
    <div class="full-width footer-end text-white flex items-center justify-center q-py-md text-weight-bold">
      <span class="q-mr-lg">Copyright © {{ new Date().getFullYear() }} All Rights Reserved by DigiME.</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  methods: {
    go(url) {
      if(this.$router.currentRoute.fullPath != url) {
        this.$router.push(url)
      }
    },
    async scrollMeTo(refName) {
      let route = this.$router.currentRoute;
      if(route && route.name === "aboutUs") {
        await this.$router.push("/")
      }
      const yOffset = -100;
      const element = document.getElementById(refName);
      const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
      window.scrollTo({top: y, behavior: 'smooth'});
    },
  }
}
</script>

<style scoped>
.footer {
  margin-top: 68px;
  padding: 68px 0;
  background-color: #000000;
}
.footer-link {
  margin: 10px 0;
  color: #d0d0d0;
  cursor: pointer;
  font-size: 15px;
}

.footer-address {
  color: #d0d0d0;
}
.footer-header {
  color: #bdbdbd;
  cursor: pointer;
}
.footer-header:hover {
  color: #ffffff;
  text-decoration: underline;
}
.footer-end {
  background-color: #020000;
}
.footer-end-link {
  margin: 0 8px;
}
.footer-end-link:hover {
  text-decoration: underline;
  color: #c7c7c7;
  cursor: pointer;
}


@media screen and (max-width: 599px) { /*For mobile, tablet -xs     481px—768px: ipad,tablet*/
  .footer-logo {
    width: 222px !important;
    height: 47px !important;
  }
  .footer-main {

  }
  .footer-link-header {
    font-size: 18px;
  }
  .footer--mobile div {
    font-size: 14px !important;
    line-height: 20px;
    text-align: center;
  }
  .footer--mobile .footer--mobile--subtitle {
    font-size: 12px !important;
  }
  .footer-main {
    margin-bottom: 30px;
  }
  .footer-link {
    font-size: 12px;
    margin: 5px 0;
  }
  .footer-link:hover {
    text-decoration: underline !important;
    font-size: 20px;
  }
  .footer-link-header {
    font-size: 18px;
  }
  .footer {
    margin-top: 40px;
    padding: 42px 0;
  }
  .footer-end span {
    font-size: 11px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 600px){ /*Laptop, small screen -sm           */
  .footer-logo {
    width: 200px !important;
    height:38px !important;
    margin-right: 40px;
  }
  .footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer--mobile {
  }
  .footer--mobile div {
    font-size: 14px !important;
    line-height: 20px;
  }
  .footer-link {
    font-size: 14px;
    margin: 5px 0;
  }
  .footer-link-header {
    font-size: 18px;
  }
  .footer {
    margin-top: 40px;
    padding: 42px 0;
  }
  .footer-end span {
    font-size: 12px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1025px) { /*Desktop     -md       */
  .footer--mobile div{
    font-size: 14px !important;
    line-height: 20px;
  }
  .footer-main {
    margin-bottom: 60px;
  }
  .footer-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-logo {
    margin-right: 50px;
    width: 280px !important;
    height: auto;
  }
  .footer-link {
    margin: 5px 0;
    font-size: 14px;
  }
  .footer {
    margin-top: 48px;
    padding: 50px 0;
  }
}
@media screen and (max-width: 1919px) { /*More         -lg */

}

</style>
