<template>
  <GmapMap
    :center="{lat: 10.776928620028874, lng: 106.75673100940278}"
    :zoom="15"
    map-type-id="roadmap"
    style="min-width: 300px; height: 300px">
    <GmapMarker
      :position="{lat: 10.776928620028874, lng: 106.75673100940278}"
      :clickable="true"
    />
  </GmapMap>
</template>

<script>
export default {
  name: "GoogleMap",
}
</script>

<style scoped>

</style>
