<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta property="og:image" content="dgmfavicon.png">
    <meta itemprop="name" content="DIGIME CO.,LTD">
    <meta property="og:url" content="https://digime.asia">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="128x128" href="icons/dgmfavicon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/dgmfavicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/dgmfavicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/dgmfavicon.png">
    <link rel="icon" type="image/ico" href="dgmfavicon.png">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js'></script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
