<template>
  <q-layout style="width: 100% !important;overflow-x: hidden" view="lHh Lpr lFf">
    <q-dialog v-model="fullscreen"
              maximized
              style="width: 100%; height: 100%">
      <div class="hero__video__inner flex justify-center items-center relative-position">
        <video muted controls>
          <source src="video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <q-icon name="close" size="lg" @click="fullscreen = false" class="absolute-top-right cursor-pointer hero__close__button"/>
      </div>
    </q-dialog>
    <q-dialog
      transition-show="slide-down"
      transition-hide="slide-up"
      maximized
      v-model="mapData">
      <div class="bg-white">

      </div>
    </q-dialog>
    <q-header class="q-py-lg-sm header" ref="header" :class="{'header__unpinned': scrolled > 40 || (menuOpen && scrolled <= 40)}">
      <q-toolbar class="flex justify-between header--block no-padding">
          <div class="col-9 flex items-center q-mx-auto justify-between">
            <div class="flex items-center q-gutter-xl">
              <div @click="go('/')">
                <q-btn
                  v-if="false"
                  flat
                  dense
                  round
                  color="dark"
                  icon="menu"
                  aria-label="Menu"
                  @click="leftDrawerOpen = !leftDrawerOpen"/>
                <q-img class="cursor-pointer logo--dgm"
                       src="/logo/digime.png"/>
              </div>
              <div class="q-mr-xl flex items-center text-dark">
                <div class="dropdown" @click="go('/about-us')">
              <span class="dropdown-header">
                Về Chúng Tôi</span>
                </div>
                <div class="dropdown dropdown-6">
                  <span class="dropdown-header">Giải Pháp <q-icon size="sm" name="expand_more"/></span>
                  <div class="shadow-2 dropdown_menu--animated dropdown_menu dropdown_menu-6">
                    <div class="dropdown_item-1 dropdown_item" @click="scrollMeTo('mapdata')">Dữ liệu bản đồ</div>
                    <div class="dropdown_item-2 dropdown_item" @click="scrollMeTo('logistics')">Logistic</div>
                    <div class="dropdown_item-3 dropdown_item" @click="scrollMeTo('marketdata')">Dữ liệu thị trường</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="q-ml-xl justify-center items-center flex">
              <div>
                <q-btn class="text-capitalize text-weight-bold button q-px-sm" no-caps
                       @click="gotoUrl('https://forum.poicollector.com/')"
                       rounded>
                <span>
                  Các dự án khác
                </span>
                </q-btn>
              </div>
            </div>
        </div>
      </q-toolbar>
      <q-toolbar class="header--block-mobile flex items-center" ref="mobileHeader">
        <div class="flex justify-center">
          <div class="full-width relative-position flex justify-center">
            <div @click="displayMobileMenu(false) ; go('/')">
              <q-img class="cursor-pointer header-block-mobile-logo z-top"
                     src="/logo/digime.png"/>
            </div>
            <div class="full-width full-height flex items-center absolute-top-left">
              <div id="header--hamburger"
                   :class="{'header--hamburger__scrolled': scrolled > 40 || (menuOpen && scrolled <= 40)}"
                   @click="displayMobileMenu">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <nav id="header--menu" class="full-width q-my-lg">
            <li class="drop q-py-xs"
                @click="displayMobileMenu(false); go('/about-us')">
              Về Chúng Tôi
              <i class="icon-arrow"></i>
            </li>
            <li class="drop q-pb-none" @click="solutionsRef = !solutionsRef"> Giải pháp <q-icon size="sm" name="expand_more"/><i class="icon-arrow"></i>
              <transition name="slide">
                <ul class="drop_menu" v-if="solutionsRef" ref="productRef">
                  <a class="cursor-pointer" @click="displayMobileMenu(false); scrollMeTo('mapdata')">Dữ liệu bản đồ</a>
                  <a class="cursor-pointer" @click="displayMobileMenu(false); scrollMeTo('logistics')">Logistic</a>
                  <a class="cursor-pointer" @click="displayMobileMenu(false); scrollMeTo('marketdata')">Dữ liệu thị trường</a>
                </ul>
              </transition>
            </li>
            <div class="q-pl-md">
              <q-btn class="text-capitalize text-weight-bold button"
                     @click="gotoUrl('https://forum.poicollector.com/')"
                     rounded>
                Các dự án khác
              </q-btn>
            </div>
          </nav>
        </div>
      </q-toolbar>
    </q-header>
    <section class="product-hero col-md-8 col-xs-11 row" style="background-image: url('hero-about-us.png');"
             v-if="notIndexPage">
      <div class="q-mt-xl text-left col-8" style="opacity: 1 !important;">
        <h2 class="text-weight-bold text-left no-margin product--hero--content">
          Câu chuyện của chúng tôi
        </h2>
      </div>
    </section>
    <section class="hero col-md-8 col-xs-11 row" style="background-image: url('hero.jpg');" v-if="!notIndexPage">
      <div class="hero--text-wap full-width full-height row col-12 q-pb-md">
        <div class=" col-12 q-mx-auto flex justify-center items-lg-center relative-position hero--block ">
          <div class="hero--wrap items-end items-md-center flex justify-sm-center">
            <div>
              <div class="text-h4 text-weight-bold text-left hero--subtitle">
                Chúng tôi tuyển THỔ ĐỊA
                <br/>
                Chia Sẻ Thông Tin Về Khu Bạn Sống
              </div>
              <div class="q-mt-lg text-h6 text-left hero--caption">
                Cùng DigiME xây dựng bản đồ logistic Việt Nam và
                <br/>
                nhận được những phần quà giá trị lớn cực kỳ hấp dẫn !
              </div>
              <div class="flex items-start q-mt-md q-mt-sm-lg justify-center justify-md-start">
                <div class="q-mx-lg-none q-mx-md-none q-mx-auto" v-if="!$q.platform.is.mobile">
                  <q-btn label="Trở thành Thổ Địa" rounded
                         class="q-mr-auto q-px-lg-sm q-px-xs q-py-lg-xs button text-weight-bold"/>
                </div>
                <div class="q-mx-lg-none q-mx-auto" v-if="$q.platform.is.mobile">
                  <q-btn label="Trở thành Thổ Địa" rounded
                         class="q-mr-auto q-px-lg-sm q-px-xs q-py-lg-xs button text-weight-bold"/>
                </div>
              </div>
              <div class=" hero--sub--caption text-weight-thin flex items-start q-mt-xs q-mt-sm-md q-pr-none q-pr-md-lg justify-center justify-md-start">
                * “Thổ Địa” là tiếng lóng địa phương thân thuộc để chỉ những người có sự hiểu biết
                về một khu vực nhất định.<br v-if="!$q.platform.is.mobile"/>
                DigiME miễn trừ trách nhiệm trong trường hợp Cộng tác viên gây ảnh hưởng đến các vấn đề liên tôn giáo.
              </div>
            </div>
          </div>
          <div class=" items-end items-md-center q-ml-md-md q-ml-xs-none flex justify-xs-center q-mt-sm-lg q-mt-xs-xl">
            <q-img src="/video3.png"  class="fake-img" style="border-radius: 25px"/>
<!--           <div class="relative-position">-->
<!--             <div class="absolute-top-left z-top q-ml-lg q-mt-lg">-->
<!--               <div class="play-button relative-position"  @click="fullscreen = true">-->
<!--                 <div>-->
<!--                   <svg class="play-circles" viewBox="0 0 152 152">-->
<!--                     <circle class="play-circle-01" fill="none" stroke="#000000" stroke-width="3" stroke-dasharray="343 343" cx="76" cy="76" r="72.7"/>-->
<!--                     <circle class="play-circle-02" fill="none" stroke="#000000" stroke-width="3" stroke-dasharray="309 309" cx="76" cy="76" r="65.5"/>-->
<!--                   </svg>-->
<!--                 </div>-->
<!--                 <span class="material-icons play-perspective">-->
<!--                  play_arrow-->
<!--                  </span>-->
<!--               </div>-->
<!--             </div>-->
<!--             <video class="hero__video" autoplay loop muted playsinline>-->
<!--               <source src="video.mp4" type="video/mp4">-->
<!--               Your browser does not support the video tag.-->
<!--             </video>-->
<!--           </div>-->
          </div>
          <p class="absolute-bottom statistic__wrap q-mb-lg-xl q-mb-xs-sm q-mb-md-md text-h3 text-weight-bold flex justify-center items-end">
            <span class="q-mr-md text-h2 text-weight-bold" style="color: #343F56">
            <ICountUp
              ref="countUp"
              :delay="delay"
              :endVal="endVal"
              :options="counterOptions"
              @ready="onCounterReady"
            />
             </span>
            Data point được cập nhập định kỳ
          </p>
          <p class="absolute-bottom statistic__wrap__2 text-weight-bold">
            <span class="statistic__main__2 text-weight-bold" style="color: #72c151">
            <ICountUp
              ref="countUp"
              :delay="delay"
              :endVal="endVal"
              :options="counterOptions"
              @ready="onCounterReady"
            />
             </span>
            Data point được cập nhập định kỳ
          </p>
        </div>
      </div>
    </section>
    <q-page-container class="no-padding">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import 'quasar/dist/quasar.addon.css'
import ICountUp from "vue-countup-v2";
import '@quasar/quasar-ui-qoverlay/dist/index.css'

export default {
  name: 'MainLayout',
  components: {
    ICountUp
  },
  data () {
    return {
      menuOpen: false,
      leftDrawerOpen: false,
      isLogged: false, mapData: false,
      scrolled: 0,
      delay: 1000,
      endVal: 2000000,
      counterOptions: {
        useEasing: true,
        duration: 3,
        useGrouping: true,
        startVal: 999999,
        separator: ',',
        decimal: ',',
        suffix: '+'
      },
      fullscreen: false,
      productRef: false, solutionsRef: false,
      notIndexPage: false,
    }
  },
  mounted() {
    if(this.$router.currentRoute.fullPath !== '/') {
      this.notIndexPage = true
    }
    else {
      this.notIndexPage = false
    }
    window.addEventListener("scroll", this.handleScroll);
    // this.setAnimations()
  },
  methods: {
    gotoUrl(url) {
      window.open(url, '_blank');
    },
    async scrollMeTo(refName) {
      let route = this.$router.currentRoute;
      if(route && route.name === "aboutUs") {
        await this.$router.push("/")
      }
      const yOffset = -100;
      const element = document.getElementById(refName);
      const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
      window.scrollTo({top: y, behavior: 'smooth'});
    },
    setAnimations() {
      TweenMax.set(".play-circle-01", {
        rotation: 90,
        transformOrigin: "center"
      })

      TweenMax.set(".play-circle-02", {
        rotation: -90,
        transformOrigin: "center"
      })

      TweenMax.set(".play-video", {
        visibility: "hidden",
        opacity: 0,
        position: "absolute",
        margin: 0
      })


      const rotateTL = new TimelineMax({ paused: true })
        .to(".play-circle-01", .7, {
          opacity: .4,
          rotation: '+=360',
          strokeDasharray: "456 456",
          ease: Power1.easeInOut
        }, 0)
        .to(".play-circle-02", .7, {
          opacity: .4,
          rotation: '-=360',
          strokeDasharray: "411 411",
          ease: Power1.easeInOut
        }, 0)
        .to(".play-perspective", .1, {
          opacity: .4,
          ease: Power1.easeInOut
        }, .2)

      const button = document.querySelector(".play-button")
      button.addEventListener("mouseover", () => rotateTL.play())
      button.addEventListener("mouseleave", () => rotateTL.reverse())
    },
    go(url) {
      if(this.$router.currentRoute.fullPath != url) {
        this.$router.push(url)
      }
    },
    displayMobileMenu(initValue = null) {
      let ref = this.$refs.mobileHeader.$el.classList;

      if(initValue != null && initValue == false) {
        this.menuOpen = false
        ref.remove("display_menu");
        if(this.scrolled <= 40) {
          document.getElementById('header--hamburger').className = ''
        }
        document.getElementById('header--menu').style.display = 'none';
        return;
      }
      if (!ref.contains("display_menu")) {
        this.menuOpen = true
        ref.add("display_menu")
        document.getElementById('header--hamburger').className = 'header-hamburger-select'
        document.getElementById('header--menu').style.display = 'block'
      }
      else {
        this.menuOpen = false
        ref.remove("display_menu");
        if(this.scrolled <= 40) {
          document.getElementById('header--hamburger').className = ''
        }
        document.getElementById('header--menu').style.display = 'none'
      }

    },
    handleScroll() {
      this.scrolled = window.scrollY
    },
    onCounterReady(instance, CountUp) {
      const that = this;
      instance.update((that.endVal-100) + 100);
    }
  },
  created() {
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  watch: {
    $route(to, from) {
      if(to.fullPath !== '/') {
        this.notIndexPage = true
      }
      else {
        this.notIndexPage = false
      }
    },
  }
}
</script>
<style scoped>
.box {
  opacity: 0;
  transition: opacity .3s;
}
.box.in-viewport {
  opacity: 1;
}
.iCountUp {
  font-size: 12em;
  margin: 0;
  color: #4d63bc;
}
/*.layout {*/
/*  background-image: linear-gradient(to left, #006175 0%, #00a950 100%);*/
/*}*/
.hero--text-wap{
  /*background: #083358;*/
  background: rgba(255, 207, 0, 0.91);
  color: black;
  width: 100%;
  /* transparent - need hasLayout for ie ( zoom: 1; ) I have width set above */
  filter: alpha(opacity=50);
  opacity: 0.8;
}
.hero--text-wap .hero--text{
  filter: alpha(opacity=100);
  opacity: 1.0;
  user-select: none;
}
.product-hero {
  /* Sizing */
  width: 100%;
  height: 400px;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;

  /* Background styles */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero {
  /* Sizing */
  width: 100%;
  height: 800px;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;

  /* Background styles */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  background: transparent;
}
.header__unpinned  {
  background : white;
  transition: all .5s;
  color: black !important;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.dropdown {
  margin: 0 10px;
  padding: 20px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 15px;
  perspective: 1000px;
  z-index: 100; font-weight: 600;
  cursor: pointer;
}
.dropdown:hover .dropdown-header {
  color: #505050;
  transition: .3s;
}
.dropdown .dropdown-header:active {
  color: #fefefe;
  transition: all .2s;
}
.dropdown:hover .dropdown_menu .dropdown_item {
  display: block;
}
.dropdown_menu {
  border-radius: 5px;
  position: absolute;
  top: 100%; text-align: center;
  width: 250px;
  perspective: 1000px;
  padding: 15px 0;
  background-color: #ffffff;
  z-index: -1;
}
.dropdown_menu .dropdown_item {
  display: none;
  transition: all .1s;
  color: #000000;
  font-weight: 400;
  padding: 5px 20px;
  font-size: 15px;
  opacity: 0;
}
.dropdown_menu .dropdown_item:hover {
  background-color: #dbdbdb;
  color: #222222;
  font-weight: 600;
}
.dropdown_menu .dropdown_item:active {
  transition: all .2s;
  color: #ba7e14;
}
.dropdown:hover .dropdown_menu--animated {
  display: block;
}
.dropdown_menu--animated {
  display: none;
}
.dropdown_menu--animated .dropdown_item {
  display: block;
  opacity: 1;
}
.dropdown_menu-6 {
  animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;
}
.statistic__wrap__2 {
  display: none;
}

@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.button {
  background-color: #343F56;
  color: white !important;
}
.hero__video {
  max-width: 100%;
  border-radius: 30px;
  max-height: 340px;
  position: relative;
}
.hero__video__inner {
  width: 70%;
  height: auto;
}
.hero__video__inner video {
  width: 100%;
}

.statistic__main {
  font-size: 60px;
  text-decoration: underline;
}
.statistic__wrap {
  font-size: 48px;
}

.play-button {
  width: 70px;
  height: 70px;
  position: relative;
  cursor: pointer;
}

.play-circles {
  display: block;
  width: 100%;
  height: 100%;
}

.play-perspective {
  font-size: 70px;
  color: black;
  top: 0;
  left: 0;
  position: absolute;
}

.hero--content {
  font-size: 78px;
  padding-bottom: 10px
}
.product--hero--content {
  font-size: 45px;
  color: black;
}
.product--hero-button {

}
.product--hero-button:hover {
  transition: .3s;
}
.product--hero--caption {
  font-size: 20px;
  color: white;
  margin-top: 8px;
  margin-bottom: 10px;
}
.hero__close__button {
  color: black;
  transition: all .4s;
}
.hero__close__button:hover {
  color: #5a5a5a;
}
.logo--dgm {
  width: 220px;
  height: 47px;
}
.header--hamburger__scrolled > span {
  background-color: black !important;
}
.header-hamburger-select > span {
  background-color: black !important;
}
.header--block-mobile {
  padding: 10px 20px;
  display: none;
  transition: .2s;
}

.header--block-mobile #header--hamburger span {
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: black;
  display: block;
  transition: 0.4s;
}
.header--block-mobile #header--hamburger {
  cursor: pointer;
  color: black;
  transition: .1s;
  border-radius: 50%;
}
.header-block-mobile-logo {
  width: 170px;
  height: 36px;
}
.header--block-mobile #header--hamburger span:nth-child(1) {
  width: 15px;
}
.header--block-mobile #header--hamburger span:nth-child(2) {
  width: 29px;
}
.header--block-mobile #header--hamburger span:nth-child(3) {
  width: 16px;
}
.drop_menu a {
  display:  block;
  padding: 10px;
}
.slide-enter, .slide-leave-to{
  transform: scaleY(0);
}
.drop_menu {
  list-style-type: none;
  transform-origin: top;
  transition: transform .2s ease;
  overflow: hidden;
}
.display_menu span:nth-child(1) {
  transform: rotate(45deg) translate(4px,1.5px);
}
.display_menu span:nth-child(2) {
  transform: rotate(-45deg) translate(-1px,0px);
}
.display_menu span:nth-child(3) {
  width: 15px;
  transform: rotate(45deg) translate(6px,-9px);
}
#header--menu {
  transition: .15s;
  display: none;
}
#header--menu li ul {
  font-size: 15px;
}
#header--menu li ul a {
  padding: 15px 0;
}
#header--menu li {
  padding: 25px;
  font-size: 16px;
  font-weight: bold;
  list-style-type: none;
  margin: 10px 0;
}
.hero--sub--caption {
  color: #4f4f4f;
}
.fake-img {
  width: 500px;
  max-height: 320px;
}
@media screen and (max-width: 599px) { /*For mobile, tablet -xs     481px—768px: ipad,tablet*/
  .statistic__wrap {
    display: none;
  }
  .statistic__wrap__2 {
    font-size: 23px;
    display: inline;
  }
  .statistic__main__2 {
    font-size: 23px;
  }
  #header--menu li ul a {
    font-size: 13px;
  }
  #header--menu li {
    font-size: 14px;
  }
  .hero {
    height: 750px;
  }
  .hero--content {
    font-size: 38px !important;
  }
  .fake-img {
    width: 350px;
  }
  .hero--subtitle {
    font-size: 28px !important;
  }
  .hero--sub--caption {
    font-size: 11px !important;
  }
  .hero--caption {
    margin-top: 5px;
    line-height: 18px;
    font-size: 12px !important;
    text-align: center;
  }
  .button {
    font-size: 12px !important;
  }
  .hero__video {
    width: 330px !important;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1024px) { /*Laptop, small screen -sm           */
  .hero--subtitle {
    text-align: center;
  }
  .hero--content {
    text-align: center;
  }
  .hero--block {
    flex-direction: column;
  }
  .header--block {
    display: none;
  }
  .header--block-mobile {
    display: block;
  }
  .statistic__main {
    font-size: 26px !important;
  }
  .statistic__wrap {
    font-size: 26px !important;
  }
  .hero--caption {
    text-align: center;
  }
  .fake-img{
    width: 350px;
    max-height: 220px !important;
  }
}

@media screen and (max-width: 1439px) { /*Desktop     -md       */
  .hero--content {
    font-size: 54px;
  }
  .hero--subtitle {
    font-size: 38px;
  }
  .hero__video {
    width: 430px;
  }
  .hero--caption {
    font-size: 15px;
  }
  .button {
    font-size: 13px;
  }
  .statistic__main {
    font-size: 35px;
  }
  .statistic__wrap {
    font-size: 35px;
  }
  .dropdown_item {
    font-size: 13px !important;
  }
  .dropdown-header {
    font-size: 13px;
  }
  .logo--dgm {
    width: 188px;
    height: 40px;
  }
  .fake-img {
    max-height: 300px;
  }
}
@media screen and (max-width: 1919px) { /*More         -lg */

}
</style>
